body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; /* Fondo suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    margin: 40px;
    background-color: #ffffff;
    padding: 25px;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5em;
}

label {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

p {
    color: #d9534f;
    margin-top: 10px;
}
